<h1>Success!</h1>

<% if(file){ %>
<pre><%=JSON.stringify(file, null, 2)%></pre>
<img style="width: 200px; height: 200px;" src="http://localhost:3000/uploadImage/<%= file.filename %>" alt="">
<% }%>

<a href='/'>Back</a>